extends layout

block googleLogin
    meta(name='google-signin-scope' content='profile email')
    meta(name="google-signin-client_id" content="725273597701-5g9etsbbnvq2hvjr25llshmcc4vfqav8.apps.googleusercontent.com")
    script(src="https://apis.google.com/js/platform.js" async defer)


block googleLoginContent
    div(class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="display: none;")

    script.
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            var id_token = googleUser.getAuthResponse().id_token;
        };