extends layout

block content
    header(class="masthead")
        div(class="intro-body")
            div(class="container")
                div(class="row")
                    div(class="col-lg-10 mx-auto")
                        h2(class="brand-heading") #{title}
                        h2 Login
                        div#myDIV(class="header")
                            // login button
                            div(class="g-signin2" data-onsuccess="onSignIn" )

                            // login function
                            script.
                                function onSignIn(googleUser) {
                                    var profile = googleUser.getBasicProfile();
                                };

                            // sign-out button
                            button#signOut(onclick='signOut()') Logout-button

                            // sign-out function
                            script.
                                var signOut = function signOut() {
                                    var auth2 = gapi.auth2.getAuthInstance();
                                    auth2.signOut().then(function () {
                                        console.log('User signed out.');
                                    });
                                }
