extends layout

block customCSS
    link(href='/css/recipe.css' rel='stylesheet')

block customJS
    script(src='/js/grayscale.min.js')

block content
    // Ingredients Section
    section#functional(class="content-section text-center")
        div(class="container")
            div(class="col-lg-10 mx-auto")
                h2 Search Recipes by Ingredients
                div(class="row input-group input-group-lg header" style="padding: 0px;")
                    div(class="col-md-8 col-xs-12" style="padding: 0px;")
                        input#myInput(type="text" name="add" class="form-control"
                        placeholder="Enter Ingredients..")
                    div(class="col-md-4 col-xs-12" style="padding: 0px;")
                        button#btnadd(name="add-to-list" onclick="listNewIngredient();"
                        class="btn btn-success" style="width: 50%;") Add
                        form#request-recipe(method='POST' action='/recipe' style="width: 50%;")
                            div#ingredients(style="display: none;")
                            button#btnsubmit(type="submit" class="btn btn-large btn-primary" onclick="extractUserIngredients();" style="width: 100%;") Submit
                br
                br
                div#myDIV(class="header")
                    ul#ingredientsUL
                div#recipes
                    div#api-recipes(class="row")
                div#moreButton
                p#api-data-string(style='display: none;') #{apidata}

    script(type='text/javascript' src='/js/yummly-api.js')