extends layout

block content
    // Ingredients Section
    section#functional(class="content-section text-center")
        div(class="container")
            div(class="col-lg-10 mx-auto")
                h2 Shopping List
                button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") New List

                // List Modal
                div#myModal(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
                    div(class="vertical-alignment-helper")
                        div(class="modal-dialog vertical-align-center")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h4#myModalLabel(class="modal-title") Create New List
                                div(class="modal-body")
                                    form
                                        div(class="form-group")
                                            label(class="control-label" for="list-name") Name:
                                            input#list-name(type="text" class="form-control")
                                div(class="modal-footer")
                                    button#btn-close(type="button" class="btn btn-default" data-dismiss="modal") Close
                                    button#btn-add(type="button" class="btn btn-primary" onclick="newElement()") Add
            br
            div#current-list(class="col-lg-10 mx-auto")
                h4(class="fridgeList") Current Lists:
                br

